<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/Clase7/src/mx/com/Cetech/Clase7/Temanuevo/temaStatic/temaStatic.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="mx.com.Cetech.Clase7.Temanuevo.temaStatic.temaStatic"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Clase7"/>
</launchConfiguration>
